*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden; 
    overflow: hidden;
}
/*Start loading screen*/
#loading
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    z-index: 99999999999999999;
}
.sk-folding-cube {
    margin: 210px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5b535;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
/*Start loading screen*/
.min-color
{
    color: #f5b535;
    /* color: #da2c38; */
    /* color: tomato; */
}
.grayColor
{
    background-color: rgb(168, 167, 167);
}
.grayColor2
{
    background-color: #aaa;
}
/*Start Btn Up*/
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
    background-color: #f5b535;
    /* background-color: #da2c38; */
    display: none;
}
/*End Btn Up*/

/*Start NAVBAR*/
.navbar-dark .navbar-brand
{
    /* color: #f5b535 !important; */
    color: #f5b535 !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}
nav a
{
    color: #fff !important;
    font-size: 1.15rem;
}
.navbar-nav li :hover
{
    /* color: #f5b535 !important; */
    color: #f5b535 !important;
}
#main-nav
{
    transition: background-color 2s , padding 2s;
}
/*End NAVBAR*/

/*Start Header*/
header
{
    background-image: url(../images/10.webp);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.header-overLayer
{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
}
.header-content h2
{
    font-size: 3.8rem;
}
#header h1
{
    font-size: 3rem;
    margin-left: 5rem;
}
.header-overLayer i
{
    padding: 10px 10px;
    font-size: 30px;
    color: #fff;
    transition: all 0.4s;
}
.fa-linkedin:hover
{
    /* color: #f5b535; */
    color: #f5b535;
}
.fa-github:hover
{
    /* color: #f5b535; */
    color: #f5b535;
}
@media only screen and (max-width: 600px) {
    .header-content h2,.header-icons {
      margin-left: 10px !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .header-content h1 {
      margin-left: 10px !important;
    }
  }
/*End Header*/

/*Start About Me*/
.about h2
{
    font-size: 3.5rem;
    font-weight: 600;
    position: relative;
}
.about h2::before
{
    content: "";
    width: 7rem;
    height: 3px;
    background-color: #f5b535;
    position: absolute;
    bottom: 20%;
    left: 38%;
}
/* .about-img
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.about-content
{
    font-size: 20px;
    /* line-height: 26px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-img img
{
    height: 80%;
    border-radius: 15px;
}
/* .about-content
{
    margin-top: 1.2rem;
} */
.about-content p
{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}
.btn-cv
{
    background-color: #f5b535 !important;
}
/*End About Me*/

/*Start Skills*/
#mySkills h2
{
    font-size: 3.5rem;
    font-weight: 600;
    position: relative;
}
#mySkills h2::before
{
    content: "";
    width: 6.2rem;
    height: 3px;
    background-color: #f5b535;
    position: absolute;
    bottom: 20%;
    left: 39%;
}
.skillsItem
{
    border: solid 2px #ddd;
    border-radius: 20%;
    cursor: pointer;
    height: 12rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.skillLayer
{
    background-color: #f5b535;
    /* background-color: #da2c38; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50%;
    position: absolute;
    top: 88%;
    left: 0;
    right: 0;
    transition: all 1s;
}
.skillsItem:hover .skillLayer
{
    top: 50%;
}
.mquiry
{
    height: 95%;
}
.skillsItem h6
{
    font-size: 1.2rem;
    transition: all 0.4s;
}
.skillLayer h6:hover
{
    color: #fff;
}
/*End Skills*/

/*Start Portfolio*/
#portfolio h2
{
    font-size: 3.5rem;
    font-weight: 600;
}
.portfolio-item 
{
    height: 20rem;
    
    /* border: solid 2px red !important; */
}
.portfolioOverLayer
{
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background-color: rgba(245, 181, 53, 0.7);
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.portfolio-item:hover .portfolioOverLayer
{
    opacity: 1;
    transform: translateY(0%);
}
.portfoilo-icons i
{
    padding: 10px 10px;
    font-size: 30px;
    color: black;
}

#portfolio .fa-github:hover 
{
    color: #fff;
}
#portfolio .fa-eye:hover
{
    color: #fff;
}
/*End Portfolio*/


/*Start Contact Me*/
.contactMe
{
    background-color: #f5b535;
    /* background-color: #da2c38; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.contact-item 
{
    border: solid 2px black;
    transition: all 1s;
    cursor: pointer;
    color: black;
}
.contact-item:hover 
{
    transform: translateY(-15px);
    background-color: black;
    /* color: #f5b535 !important; */
}
.contact-item:hover i
{
    /* color: #f5b535; */
    color: #fff;
}
.fa-mobile
{
    padding: 10px 10px;
    font-size: 30px;
    color: black;
}
.fa-google
{
    padding: 10px 10px;
    font-size: 30px;
    color: black;
}
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
  @media  screen and (max-width:600px) {
      .contactMe .contact-item i {
        /* background-color: aqua; */
        font-size: 17px;
      }
      
  }
/*End Contact Me*/
